/* 공통 CSS */
.wrap.footer {
    color: #fff;
    margin-top: 20px;
}

.wrap.footer,
.wrap.footer .container {
    background-color: #424242;
}

.wrap.footer .container {
    box-sizing: border-box;
    padding: 20px 10px;
}

.wrap.footer .container small {
    display: block;
    padding: 10px 0;
}