/* 공통 CSS */
.wrap.footer {
    color: #fff;
    margin-top: 20px;
}

.wrap.footer,
.wrap.footer .container {
    background-color: #424242;
}

.wrap.footer .container {
    box-sizing: border-box;
    padding: 20px 10px;
}

.wrap.footer .container ul:after {
    display: block;
    content: "";
    clear: both;
}

.wrap.footer .container ul li {
    float: left;
    padding: 0 10px;
    border-right: 1px solid #aaa;
    margin-bottom: 5px;
}

.wrap.footer .container ul li:first-child {
    padding-left: 0;
}

.wrap.footer .container ul li:last-child {
    border-right: none;
}

.wrap.footer .container ul li a {
    display: block;
    color: #aaa;
    text-decoration: none;
    transition: .2s ease;
}

.wrap.footer .container ul li a:hover {
    color: #fff;
}

.wrap.footer .container dl:after {
    display: block;
    content: "";
    clear: both;
}
.wrap.footer .container dl dt {
    float: left;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
}

.wrap.footer .container dl dd {
    float: left;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.wrap.footer .container small {
    display: block;
    padding: 10px 0;
}

/* Mobile First : 기본 레이아웃은 모바일 최적화 */ 
.wrap.footer .container dl dt {
    width: 30%;
}

.wrap.footer .container dl dd {
    width: 70%;
}

/* Tablet : 768px~1024px 해상도 */
@media (min-width:768px) and (max-width:1024px) {
    .wrap.footer .container dl dt {
        width: 20%;
    }
    .wrap.footer .container dl dd {
        width: 80%;
    }
}

/* Desktop : 1025px 이상 해상도 */
@media (min-width:1025px) {
    .wrap.footer .container dl dt {
        width: 10%;
    }
    .wrap.footer .container dl dd {
        width: 90%;
    }
}