/* Mobile First : 기본 레이아웃은 모바일 최적화 */ 
.wrap.header {
    margin-top: 31px;
}

.wrap.header .gnav:after,
.wrap.header .gnav .menu:after {
    display: block;
    content: "";
    clear: both;
}

.wrap.header .gnav>.menu li {
    background-color: #f83938;
}

.wrap.header .gnav>.menu li a {
    display: block;
    padding: 0 5px;
    height: 0;
    line-height: 30px;
    text-decoration: none;
    color: #fff;
    transition: .2s ease;
}

.wrap.header .gnav>.menu.on>li {
    border-bottom: 1px solid #fff;
}

.wrap.header .gnav>.menu.on li a {
    height: 30px;
}

.wrap.header header h1 a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #424242;
    text-decoration: none;
    transition: .2s ease;
}

.wrap.header header h1 a:hover {
    color: #f83938;
}

/* Desktop : 768px 이상 해상도 */
@media (min-width:768px) {
    .wrap.header .gnav>.menu {
        border-bottom: 1px solid #aaa;
    }
    
    .wrap.header .gnav>.menu li {
        background-color: transparent;
    }
    
    .wrap.header .gnav>.menu>li {
        width: 25%;
        float: left;
    }
    
    .wrap.header .gnav>.menu>li a {
        color: #424242;
        text-align: center;
    }
    
    .wrap.header .gnav>.menu>li a:hover {
        color: #fff;
        background-color: #424242;
    }
    
    .wrap.header .gnav>.menu>li>a {
        height: 30px;
        font-weight: bold;
    }
    
    .wrap.header .gnav .menu.sub>li a {
        overflow: hidden;
    }
    
    .wrap.header .gnav .menu:hover .menu.sub>li a,
    .wrap.header .gnav .menu.on .menu.sub>li a {
        height: 30px;
    }
}